# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode

# Screenshors generated for Argos-CI
*.log
.DS_STORE
/.next
/.nyc_output
/coverage
/packages/material-ui-codemod/lib
/test/regressions/screenshots
/tmp
.next
build
node_modules
